$titleFont: 'Yeseva One', cursive;
$bodyFont: 'Lato', sans-serif;

$textColor: #00223d;
$background: #fefefeaa;

html {
    font-size: 125%;
};

body,
input,
button {
    font-family: $bodyFont;
    color: $textColor;
};

body {
    height: 100vh;
    padding: 30px 0 20px 0;
    background: linear-gradient(304deg, #f4e6b5, #efb9d6);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
};

main {
    height: 100%;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
};

.wrapper {
    width: 82.5%;
    max-width: 1200px;
    margin: 0 auto;
};

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
};

.displayNone {
    display: none;
};

.greyedOut{
    cursor: default;
    color: #bbb;
    border: 2px solid #bbb;
    box-shadow: 4px 4px #bbb;
};

label:not(:focus):not(:active) {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;  
};
