@import "baseStyle";
@import "mediaQueries";
@import "animations";

header {
    height: 100vh;

    text-align: center;

    background: linear-gradient(307deg, #55ab80, #59bdc5, #d172b6);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

.headerContent {
    height: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    img.headshot {
        height: 275px;
        box-shadow: 15px 15px #b07ea499;
        border-radius: 1%;
    }
}

.notFound img {
    display: none;
    height: 80px;
    position: absolute;
    transform: rotateZ(-25deg);
    transition: all 1.5s;
    &:hover,
    &:focus-within {
        transform: rotateZ(-385deg);
    }
    @include showEmoji {
        display: inline-block;
        top: 100px;
        right: 15%;
    }
}

// 

.dogPark {
    position: relative;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span {
        display: inline-block;
        position: absolute;
    }
}

.tennisBall {
    transform: scale(1.5);
    top: 75%;
    left: 20%;
}

.dog {
    transform: scale(5);
    top: 80%;
    right: 30%;
}

input[type=checkbox] {
    transform: scale(8);
    position: absolute;
    top: 80%;
    right: 30%;
    z-index: 999;
    opacity: 0;
    & ~ span {
        transition: all 2.975s;
    }
    &:checked ~ .dog {
        transform: translateY(-500px) translateX(-50px) scale(0.1);
    }
    &:checked ~ .tennisBall {
        transform: translateY(-500px) translateX(50px) scale(0.1);
    }
}

.heckinPupper {
    animation-duration: 2s;
    position: absolute;
    width: 100%;
    box-shadow: 15px 15px #b07ea499;
}