html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

body,
input,
button {
  font-family: "Lato", sans-serif;
  color: #00223d;
}

body {
  height: 100vh;
  padding: 30px 0 20px 0;
  background: linear-gradient(304deg, #f4e6b5, #efb9d6);
  background-size: 400% 400%;
}

main {
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 82.5%;
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.displayNone {
  display: none;
}

.greyedOut {
  cursor: default;
  color: #bbb;
  border: 2px solid #bbb;
  -webkit-box-shadow: 4px 4px #bbb;
          box-shadow: 4px 4px #bbb;
}

label:not(:focus):not(:active) {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

h1,
h2 {
  font-family: "Yeseva One", cursive;
}

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  padding: 10px 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  position: absolute;
}

h4 {
  margin: auto 0;
}

p {
  font-size: 1rem;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.setUserGoal input {
  width: 60%;
}

.setUserGoal button {
  width: 30%;
}

.userGoal {
  position: relative;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

progress {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px black;
          box-shadow: 5px 5px black;
}

progress[value] {
  background-image: -webkit-linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(left, #7d7d7d, #434343);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
  color: black;
}

input {
  display: inline-block;
  color: #00223d;
  background: #fefefeaa;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #00223d;
  -webkit-box-shadow: 4px 4px black;
          box-shadow: 4px 4px black;
}

::-webkit-input-placeholder {
  opacity: 1;
  color: #00223d;
}

:-ms-input-placeholder {
  opacity: 1;
  color: #00223d;
}

::-ms-input-placeholder {
  opacity: 1;
  color: #00223d;
}

::placeholder {
  opacity: 1;
  color: #00223d;
}

button {
  border-radius: 5px;
  background: #fefefeaa;
  padding: 0;
  border: 2px solid #00223d;
  -webkit-box-shadow: 4px 4px black;
          box-shadow: 4px 4px black;
}

button:hover, button:focus-within {
  cursor: pointer;
  position: relative;
  top: 2px;
  -webkit-box-shadow: 4px 2px black;
          box-shadow: 4px 2px black;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.untilGoal {
  height: 1.5rem;
}

.addOrSubtract,
.commitment {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.addOrSubtract .formControls,
.addOrSubtract .commitmentControls,
.commitment .formControls,
.commitment .commitmentControls {
  padding: 10px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.addOrSubtract .formControls input,
.addOrSubtract .commitmentControls input,
.commitment .formControls input,
.commitment .commitmentControls input {
  width: 40%;
}

.addOrSubtract .formControls select,
.addOrSubtract .commitmentControls select,
.commitment .formControls select,
.commitment .commitmentControls select {
  display: inline-block;
  border: 2px solid #00223d;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px #00223d;
          box-shadow: 4px 4px #00223d;
  background: #fefefeaa;
}

.addOrSubtract button,
.commitment button {
  font-size: 40px;
  height: 50px;
  width: 25%;
}

.commitmentBottom {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeUntilGoal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 40px;
  padding: 10px 0;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 890px) {
  body {
    padding: 10px 0;
    height: 100%;
  }
  .userGoal {
    height: 85px;
    padding: 10px 0;
  }
  .untilGoal {
    padding: 25px 0;
    height: 95px;
  }
  .commitmentControls {
    -ms-flex-line-pack: distribute;
        align-content: space-around;
  }
  .commitmentBottom {
    padding: 25px 0 0 0;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .commitmentBottom select {
    padding: 10px;
  }
}

@media (max-width: 550px) {
  p {
    margin: 50px 0 50px 0;
  }
  .timeUntilGoal {
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .untilGoal {
    padding: 25px 0;
    height: 130px;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 2rem;
  }
}
